body {
  font-family: Arial, Helvetica, sans-serif;

}

.navbar {
  overflow: hidden;
  background-color: #7a0000;
}

.navbar a {
  float: left;
  font-size: 20px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 20px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(197, 0, 0);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(255, 125, 125, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: rgb(129, 0, 0);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.wrapper{
    display: flex;
    justify-content: space-between;
}
.wrapper img{
    width: 50%;
}
.splitt{
  display: flex;
}

.splitt img{
  width: 50%;
  height: 400px;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-top: 20px;
  margin-right: 20px;
}
.line{
  border-left: 2px solid #7a0000;
  margin-left: 20px;
  padding-left: 10px;
  margin-top: 50px;
  font-size: 40px;
}

footer {
  padding: 10px 20px;
  background: rgb(129, 0, 0);
  color: white;
  margin-top: 50px;
  height: 70px;
}

footer p{
  font-size: 23px;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 2px;
}

.leftimg {
  float:left; /* Выравнивание по левому краю */
  justify-content: space-between;
  margin: 7px 50px 7px 0; /* Отступы вокруг картинки */
 }


/* main text */

.maintext{
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 2px;
}


.maintext .headingmaintext{
  font-size: 23px;
}
