<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel = "stylesheet" href = "css/main_styles.css">
</head>
<body> 
  <div class="navbar">
    <a href="index.html">Главная</a>
  <div class="dropdown">
    <button class="dropbtn"> Книги 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="karl_marks.html">Карл Маркс</a>
      <a href="fridrih_engels.html">Фридрих Энгельс</a>
      <a href="ilych_lenin.html">Ильич Ленин</a>
    </div>
  </div> 
    <a style = "float: right" href="#" class="right">Войти</a>
</div>
    {% block title %}Принципы коммунизма{% endblock %}
        <div class = "maintext">
          <p class = "headingmaintext"><strong>1-й вопрос: </strong>Что такое коммунизм?<br></p>
          <strong><br>Ответ:</strong> Коммунизм есть учение об условиях освобождения 
          пролетариата.</div><br>

        <div class = "maintext">
          <p class = "headingmaintext"><strong>2-й вопрос: </strong>Что такое пролетариат?<br></p>
          <strong><br>Ответ:</strong> Пролетариатом называется тот общественный класс, 
          который добывает средства к жизни исключительно путем продажи своего 
          труда, а не живет за счет прибыли с какого-нибудь капитала, - класс, 
          счастье и горе, жизнь и смерть, все существование которого зависит от 
          спроса на труд, т. е. от смены хорошего и плохого состояния дел, от 
          колебаний ничем не сдерживаемой конкуренции. Одним словом, пролетариат, 
          или класс пролетариев, есть трудящийся класс XIX века.</div><br>

        <div class = "maintext">
          <p class = "headingmaintext"><strong>3-й вопрос: </strong>Значит, пролетарии существовали не всегда?<br></p>
          <strong><br>Ответ:</strong> Нет, не всегда. Бедные и трудящиеся классы существовали 
          всегда, и обычно трудящиеся классы пребывали в бедности. Но такие бедняки, 
          такие рабочие, которые жили бы в только что указанных условиях, т. е. 
          пролетарии, существовали не всегда, так же как не всегда конкуренция 
          была вполне свободной и неограниченной.</div><br>

        <div class = "maintext">
          <p class = "headingmaintext"><strong>4-й вопрос: </strong>Как возник пролетариат?<br></p>
          <strong><br>Ответ:</strong> Пролетариат возник в результате промышленной 
          революции, которая произошла в Англии во второй половине прошлого века 
          и после этого повторилась во всех цивилизованных странах мира. Эта промышленная 
          революция была вызвана изобретением паровой машины, различных прядильных 
          машин, механического ткацкого станка и целого ряда других механических 
          приспособлений. Эти машины, которые стоили очень дорого и поэтому были 
          доступны только крупным капиталистам, изменили весь существовавший до 
          тех пор способ производства и вытеснили прежних рабочих, ибо машины 
          изготовляли товары дешевле и лучше, чем могли их сделать рабочие с помощью 
          своих несовершенных прялок и ткацких станков. Таким путем эти машины 
          отдали промышленность целиком в руки крупных капиталистов и совершенно 
          обесценили ту ничтожную собственность, которая принадлежала рабочим 
          (инструменты, ткацкие станки и т. д.), так что капиталисты вскоре все 
          захватили в свои руки, а у рабочих не осталось ничего. Тем самым в области 
          изготовления тканей введена была фабричная система. - Как только был 
          дан толчок к введению машин и фабричной системы, последняя быстро распространилась 
          и во всех остальных отраслях промышленности, особенно в области набивки 
          тканей, в книгопечатании, в гончарном производстве и в производстве 
          металлических изделий. Труд стал все больше и больше разделяться между 
          отдельными рабочими, так что рабочий, который раньше выполнял всю работу 
          целиком, теперь стал делать только часть ее. Это разделение труда позволило 
          изготовлять продукты быстрее, а потому и дешевле. Оно свело деятельность 
          каждого рабочего к одному какому-нибудь, весьма простому, постоянно 
          повторяющемуся, механическому приему, который с таким же успехом, и 
          даже значительно лучше, мог выполняться машиной. Таким путем все эти 
          отрасли промышленности, одна за другой, подпали под власть пара, машин 
          и фабричной системы, точно так же, как это имело место в прядильном 
          и ткацком производстве. Но тем самым они целиком переходили в руки крупных 
          капиталистов, и рабочие также и здесь лишались последних остатков своей 
          самостоятельности. Постепенно фабричная система распространила свое 
          господство не только на мануфактуру в собственном смысле этого слова, 
          но стала все более и более завладевать также и ремеслом, так как и в 
          этой области крупные капиталисты все более вытесняли мелких мастеров, 
          устраивая большие мастерские, в которых можно было достигнуть экономии 
          на многих расходах и также ввести детальное разделение труда. В результате, 
          мы пришли теперь к тому, что в цивилизованных странах почти во всех 
          отраслях труда утвердилось фабричное производство и почти во всех этих 
          отраслях ремесло и мануфактура вытеснены крупной промышленностью. - 
          Вследствие этого прежнее среднее сословие, в особенности мелкие ремесленные 
          мастера, все более разоряется, прежнее положение работника совершенно 
          меняется и создаются два новых класса которые постепенно поглощают все 
          прочие. А именно: <br>
          I. Класс крупных капиталистов, которые во всех цивилизованных странах 
          уже в настоящее время являются почти единственными владельцами всех 
          жизненных средств, а также сырья и орудий (машин, фабрик и т. п.), необходимых 
          для их производства. Это класс буржуа, или буржуазия. <br>
          II. Класс совершенно неимущих, которые вследствие этого вынуждены продавать 
          буржуа свой труд, чтобы взамен получать необходимые для их существования 
          средства к жизни. Этот класс называется классом пролетариев, или пролетариатом.</div><br>

        <div class = "maintext">
          <p class = "headingmaintext"><strong>5-й вопрос: </strong>При каких условиях совершается эта продажа труда пролетариев буржуа? <br></p>
          <strong><br>Ответ:</strong> Труд - такой же товар, как и всякий другой, 
          и цена его определяется теми же законами, как и цена всякого другого 
          товара. При господстве крупной промышленности или свободной конкуренции, 
          - что, как мы увидим дальше, есть одно и то же, - цена товара в среднем 
          всегда равняется издержкам производства этого товара. Следовательно, 
          цена труда тоже равна издержкам производства труда, а издержки производства 
          труда состоят именно из того количества жизненных средств, которое необходимо, 
          чтобы рабочий был в состоянии сохранять свою трудоспособность и чтобы 
          рабочий класс не вымер. Более, чем нужно для этой цели, рабочий за свой 
          труд не получит; цена труда, или заработная плата, будет, следовательно, 
          самой низкой, составит тот минимум, который необходим для поддержания 
          жизни. Но так как в делах бывают то лучшие, то худшие времена, рабочий 
          будет получать то больше, то меньше, совершенно так же, как фабрикант 
          получает то больше, то меньше за свой товар. И как фабрикант в среднем, 
          если взять хорошие и плохие времена, все-таки получает за свой товар 
          не больше и не меньше, чем издержки производства, так и рабочий в среднем 
          получит не больше и не меньше этого минимума. Этот экономический закон 
          заработной платы будет осуществляться тем строже, чем больше крупная 
          промышленность будет овладевать всеми отраслями труда.</div><br>

        <div class = "maintext">
          <p class = "headingmaintext"><strong>6-й вопрос: </strong>Какие трудящиеся классы существовали до промышленной революции?<br></p>
          <strong><br>Ответ:</strong> Трудящиеся классы, в зависимости от различных 
          ступеней общественного развития, жили в различных условиях и занимали 
          различное положение по отношению к имущим и господствующим классам. 
          В древности трудящиеся были рабами своих хозяев, подобно тому как они 
          являются рабами еще и теперь во многих отсталых странах и даже в южной 
          части Соединенных Штатов. В средние века они были крепостными дворян-землевладельцев, 
          каковыми остаются и по сей день еще в Венгрии, Польше и России. Кроме 
          того, в городах в средние века, вплоть до промышленной революции, существовали 
          ремесленные подмастерья, работавшие у мелкобуржуазных мастеров, а с 
          развитием мануфактуры стали постепенно появляться мануфактурные рабочие, 
          которых нанимали уже более крупные капиталисты.</div><br>

        <div class = "maintext">
          <p class = "headingmaintext"><strong>7-й вопрос: </strong>Чем отличается пролетарий от раба?<br></p>
          <strong><br>Ответ:</strong> Раб продан раз и навсегда, пролетарий должен 
          сам продавать себя ежедневно и ежечасно. Каждый отдельный раб является 
          собственностью определенного господина, и, уже вследствие заинтересованности 
          последнего, существование раба обеспечено, как бы жалко оно ни было. 
          Отдельный же пролетарий является, так сказать, собственностью всего 
          класса буржуазии. Его труд покупается только тогда, когда кто-нибудь 
          в этом нуждается, и поэтому его существование не обеспечено. Существование 
          это обеспечено только классу пролетариев в целом. Раб стоит вне конкуренции, 
          пролетарий находится в условиях конкуренции и ощущает на себе все ее 
          колебания. Раб считается вещью, а не членом гражданского общества. Пролетарий 
          признается личностью, членом гражданского общества. Следовательно, раб 
          может иметь более сносное существование, чем пролетарий, но пролетарий 
          принадлежит к обществу, стоящему на более высокой ступени развития, 
          и сам стоит на более высокой ступени, чем раб. Раб освобождает себя 
          тем, что из всех отношений частной собственности уничтожает одно только 
          отношение рабства и благодаря этому тогда только становится пролетарием; 
          пролетарий же может освободить себя, только уничтожив частную собственность 
          вообще.</div><br>

        <div class = "maintext">
          <p class = "headingmaintext"><strong>8-й вопрос: </strong>Чем отличается пролетарий от крепостного?<br></p>
          <strong><br>Ответ:</strong> Во владении и пользовании крепостного находится 
          орудие производства, клочок земли, и за это он отдает часть своего дохода 
          или выполняет ряд работ. Пролетарий же работает орудиями производства, 
          принадлежащими другому, и производит работу в пользу этого другого, 
          получая взамен часть дохода. Крепостной отдает, пролетарию дают. Существование 
          крепостного обеспечено, существование пролетария не обеспечено. Крепостной 
          стоит вне конкуренции, пролетарий находится в условиях конкуренции. 
          Крепостной освобождает себя либо тем, что убегает в город и становится 
          там ремесленником, либо тем, что доставляет своему помещику вместо работы 
          или продуктов деньги, становясь свободным арендатором, либо тем, что 
          он прогоняет своего феодала, сам становясь собственником. Словом, он 
          освобождает себя тем, что так или иначе входит в ряды класса, владеющего 
          собственностью, и вступает в сферу конкуренции. Пролетарий же освобождает 
          себя тем, что уничтожает конкуренцию, частную собственность и все классовые 
          различия. </div><br>

        <div class = "maintext">
          <p class = "headingmaintext"><strong>9-й вопрос: </strong>Чем отличается пролетарий от ремесленника?<br></p>
          <strong><br>Ответ: </strong>(Отсутствует в оригинале)</div><br>

        <div class = "maintext">
          <p class = "headingmaintext"><strong>10-й вопрос: </strong>Чем отличается пролетарий от мануфактурного рабочего?<br></p>
          <strong><br>Ответ:</strong> Мануфактурный рабочий XVI-XVIII веков почти 
          повсюду владел еще орудиями производства: своим ткацким станком, прялкой 
          для своей семьи и маленьким участком земли, который он возделывал в 
          свободные от работы часы. У пролетария ничего этого нет. Мануфактурный 
          рабочий живет почти всегда в деревне и находится в более или менее патриархальных 
          отношениях со своим помещиком или работодателем. Пролетарий большей 
          частью живет в больших городах и с работодателем его связывают чисто 
          денежные отношения. Крупная промышленность вырывает мануфактурного рабочего 
          из его патриархальных условий; он теряет последнее имущество каким еще 
          обладал, и только тогда превращается в силу этого в пролетария.</div><br>

        <div class = "maintext">
          <p class = "headingmaintext"><strong>11-й вопрос: </strong>Каковы были ближайшие последствия 
          промышленной революции и разделения общества на буржуа и пролетариев?<br></p>
          <strong><br>Ответ:</strong> Во-первых, вследствие того, что машинный 
          труд все более понижал цены на изделия промышленности, во всех странах 
          света прежняя система мануфактуры, или промышленности, основанной на 
          ручном труде, была целиком разрушена. Все полуварварские страны, которые 
          до сих пор оставались более или менее чуждыми историческому развитию 
          и промышленность которых до сих пор покоилась на мануфактуре, были таким 
          путем насильственно вырваны из своего состояния замкнутости. Они стали 
          покупать все более дешевые товары англичан и обрекли на гибель своих 
          собственных мануфактурных рабочих. Таким образом, страны, которые в 
          течение тысячелетий не знали прогресса, как, например, Индия, подверглись 
          полной революции, и даже Китай в настоящее время идет навстречу революции. 
          Дошло до того, что новая машина, которая сегодня изобретается 
          в Англии, за один год лишает хлеба миллионы рабочих в Китае. Таким образом, 
          крупная промышленность связала между собой все народы земли, объединила 
          все маленькие местные рынки во всемирный рынок, подготовила всюду почву 
          для цивилизации и прогресса и привела к тому, что все, что совершается 
          в цивилизованных странах, должно оказывать влияние на все остальные 
          страны; так что, если теперь в Англии или во Франции рабочие себя освободят, 
          то во всех других странах это должно вызвать революции, которые рано 
          или поздно приведут также и там к освобождению рабочих. <br>
          Во-вторых, всюду, где крупная промышленность сменила мануфактуру, промышленная 
          революция в чрезвычайной мере умножила богатство и могущество буржуазии 
          и сделала ее первым классом в стране. Результатом этого было то, что 
          повсюду, где совершился такой процесс, буржуазия получила в свои руки 
          политическую власть и вытеснила классы, которые господствовали до тех 
          пор, - аристократию, цеховое бюргерство и представлявшую тех и других 
          абсолютную монархию. Буржуазия уничтожила могущество аристократии, дворянства, 
          отменив майораты, или неотчуждаемость земельных владений, и упразднив 
          все дворянские привилегии. Она сокрушила могущество цехового бюргерства, 
          упразднив все цехи и все привилегии ремесленников. На место тех и других 
          она поставила свободную конкуренцию, т. е. такое состояние общества, 
          при котором каждый имеет право заниматься любой отраслью промышленной 
          деятельности, причем ничто не может ему в этом помешать, кроме отсутствия 
          нужного для этого капитала. Введение свободной конкуренции равносильно, 
          таким образом, открытому заявлению, что отныне члены общества не равны 
          между собой лишь постольку, поскольку не равны их капиталы, что капитал 
          становится решающей силой, а капиталисты, буржуа, тем самым становятся 
          первым классом в обществе. Но свободная конкуренция необходима для начального 
          периода развития крупной промышленности, потому что она представляет 
          собой единственное состояние общества, при котором может вырасти крупная 
          промышленность. - Буржуазия, уничтожив таким путем общественное могущество 
          дворянства и цехового бюргерства, уничтожила также и их политическую 
          власть. Став первым классом в обществе, она провозгласила себя первым 
          классом и в политической области. Она сделала это путем введения представительной 
          системы, которая основана на буржуазном равенстве перед законом, на 
          законодательном признании свободной конкуренции. Эта система была введена 
          в европейских странах в виде конституционной монархии. В конституционных 
          монархиях правами избирателей пользуются лишь те, кто обладает известным 
          капиталом, т. е. только буржуа. Эти буржуа-избиратели выбирают депутатов, 
          а эти буржуа-депутаты, используя право отказа в налогах, избирают буржуазное 
          правительство. <br>
          В-третьих, промышленная революция всюду способствовала развитию пролетариата в 
          той же мере, как и развитию буржуазии. Чем богаче становилась буржуазия, 
          тем многочисленнее становились пролетарии. Так как работу пролетариям 
          может предоставить только капитал, а капитал увеличивается только тогда, 
          когда применяет труд, то рост пролетариата происходит в точном соответствии 
          с ростом капитала. В то же время промышленная революция собирает буржуа 
          и пролетариев в большие города, где всего выгоднее развивать промышленность, 
          и этим скоплением огромных масс в одном месте внушает пролетариям сознание 
          их силы. Затем, по мере того как развивается промышленная революция, 
          по мере дальнейшего изобретения новых машин, вытесняющих ручной труд. 
          крупная промышленность оказывает все большее давление на заработную 
          плату и снижает ее, как мы уже сказали, до минимума, вследствие чего 
          положение пролетариата становится все более невыносимым. Так, с одной 
          стороны, вследствие роста недовольства пролетариата, а с другой - вследствие 
          роста его мощи, промышленная революция подготовляет социальную революцию, 
          которую произведет пролетариат.</div><br>

        <div class = "maintext">
          <p class = "headingmaintext"><strong>12-й вопрос: </strong>Каковы были дальнейшие последствия промышленной революции?<br></p>
          <strong><br>Ответ:</strong> Крупная промышленность создала, в виде паровой 
          и других машин, средства, позволяющие в короткое время и с небольшими 
          затратами до бесконечности увеличивать промышленное производство. Благодаря 
          такой легкости расширения производства свободная конкуренция, являющаяся 
          необходимым следствием этой крупной промышленности, вскоре приняла чрезвычайно 
          острый характер; масса капиталистов бросилась в промышленность, и очень 
          скоро произведено было больше, чем могло быть потреблено. В результате 
          этого произведенные товары невозможно было продать и наступил так называемый 
          торговый кризис. Фабрики должны были остановиться, фабриканты обанкротились 
          и рабочие лишились хлеба. Повсюду наступила ужасная нищета. По истечении 
          некоторого времени избыточные продукты были проданы, фабрики снова начали 
          работать, заработная плата поднялась, и постепенно дела пошли лучше, 
          чем когда-либо. Но не надолго, ибо вскоре снова было произведено слишком 
          много товаров, наступил новый кризис, протекавший совершенно так же, 
          как и предыдущий. Таким образом, с начала этого столетия в положении 
          промышленности беспрестанно происходили колебания между периодами процветания 
          и периодами кризиса, и почти регулярно через каждые пять-семь лет наступал 
          такой кризис, причем каждый раз он вызывал величайшие бедствия среди 
          рабочих, всеобщее революционное возбуждение и величайшую опасность для 
          всего существующего строя.</div><br>

        <div class = "maintext">
          <p class = "headingmaintext"><strong>13-й вопрос: </strong>Что следует из этих регулярно повторяющихся торговых кризисов?<br></p>
          <strong><br>Ответ:</strong> Во-первых, что хотя крупная промышленность 
          в первую эпоху своего развития сама создала свободную конкуренцию, но 
          в настоящее время она уже переросла свободную конкуренцию; что конкуренция 
          и вообще ведение промышленного производства отдельными лицами превратились 
          для крупной промышленности в оковы, которые она должна разбить и разобьет; 
          что крупная промышленность, пока она ведется на нынешних началах, не 
          может существовать, не приводя к повторяющемуся каждые семь лет всеобщему 
          расстройству, а это всякий раз ставит под угрозу всю цивилизацию и не 
          только бросает на дно нищеты пролетариев, но и разоряет многих буржуа; 
          что, следовательно, необходимо либо отказаться от крупной промышленности,- 
          а это абсолютно невозможно,- либо признать, что она делает безусловно 
          необходимым создание совершенно новой организации общества, при которой 
          руководство промышленным производством осуществляется не отдельными 
          конкурирующими между собой фабрикантами, а всем обществом по твердому 
          плану и соответственно потребностям всех членов общества. <br>
          Во-вторых, что крупная промышленность и обусловленная ею возможность 
          бесконечного расширения производства позволяют создать такой общественный 
          строй, в котором всех необходимых для жизни предметов будет производиться 
          так много, что каждый член общества будет в состоянии совершенно свободно 
          развивать и применять все свои силы и способности. Итак. именно то свойство 
          крупной промышленности, которое в современном обществе порождает всю 
          нищету и все торговые кризисы, явится при другой общественной организации 
          как раз тем свойством, которое уничтожит эту нищету и эти приносящие 
          бедствия колебания. <br>
          Таким образом, вполне убедительно доказано: <br>
          1) что в настоящее время все эти бедствия объясняются только общественным 
          строем, который уже не соответствует условиям времени; <br>
          2) что уже имеются средства для окончательного устранения этих бедствий 
          путем создания нового общественного строя. </div><br>

        <div class = "maintext">
          <p class = "headingmaintext"><strong>14-й вопрос: </strong>Каков должен быть этот новый общественный строй?<br></p>
          <strong><br>Ответ:</strong> Прежде всего, управление промышленностью и всеми 
          отраслями производства вообще будет изъято из рук отдельных, конкурирующих 
          друг с другом индивидуумов. Вместо этого все отрасли производства будут 
          находиться в ведении всего общества, т. е. будут вестись в общественных 
          интересах, по общественному плану и при участии всех членов общества. 
          Таким образом, этот новый общественный строй уничтожит конкуренцию и 
          поставит на ее место ассоциацию. Так как ведение промышленности отдельными 
          лицами имеет своим необходимым следствием частную собственность и так 
          как конкуренция есть не что иное, как такой способ ведения промышленности, 
          когда она управляется отдельными частными собственниками, то частная 
          собственность неотделима от индивидуального ведения промышленности и 
          от конкуренции. Следовательно, частная собственность должна быть также 
          ликвидирована, а ее место заступит общее пользование всеми орудиями 
          производства и распределение продуктов по общему соглашению, или так 
          называемая общность имущества. Уничтожение частной собственности даже 
          является самым кратким и наиболее обобщающим выражением того преобразования 
          всего общественного строя, которое стало необходимым вследствие развития 
          промышленности. Поэтому коммунисты вполне правильно выдвигают главным 
          своим требованием уничтожение частной собственности.</div><br>

        <div class = "maintext">
          <p class = "headingmaintext"><strong>15-й вопрос: </strong>Значит, уничтожение частной собственности раньше было невозможно?<br></p>
          <strong><br>Ответ:</strong> Да, невозможно. Всякое изменение общественного 
          строя, всякий переворот в отношениях собственности являлись необходимым 
          следствием создания новых производительных сил, которые перестали соответствовать 
          старым отношениям собственности. Так возникла и сама частная собственность. 
          Дело в том, что частная собственность существовала не всегда; когда 
          в конце средних веков в виде мануфактуры возник Новый способ производства, 
          не укладывавшийся в рамки тогдашней феодальной и цеховой собственности, 
          эта мануфактура, уже переросшая старые отношения собственности, создала 
          для себя новую форму собственности - частную собственность. Для мануфактуры 
          и для первой стадии развития крупной промышленности не была возможна 
          никакая другая форма собственности, кроме частной собственности, не 
          был возможен никакой другой общественный строй, кроме строя, основанного 
          на частной собственности. Пока нельзя производить в таких размерах, 
          чтобы не только хватало на всех, но чтобы еще оставался избыток продуктов 
          для увеличения общественного капитала и дальнейшего развития производительных 
          сил, до тех пор должен всегда оставаться господствующий класс, распоряжающийся 
          производительными силами общества, и другой класс - бедный и угнетенный. 
          Каковы эти классы, это зависит от ступени развития производства. В средневековье, 
          зависевшем от земледелия, - перед нами помещик и крепостной; в городах 
          позднего средневековья - цеховой мастер, подмастерье и поденщик; в XVII 
          веке - владелец мануфактуры и мануфактурный рабочий; в XIX веке - крупный 
          фабрикант и пролетарий. Вполне очевидно, что до настоящего времени производительные 
          силы не были еще развиты в такой степени, чтобы можно было производить 
          достаточное для всех количество продуктов и чтобы частная собственность 
          уже сделалась оковами, преградой для развития этих производительных 
          сил. Но теперь благодаря развитию крупной промышленности, во-первых, 
          созданы капиталы и производительные силы в размерах, ранее неслыханных, 
          и имеются средства для того, чтобы в короткий срок до бесконечности 
          увеличить эти производительные силы. Во-вторых, эти производительные 
          силы сосредоточены в руках немногих буржуа, тогда как широкие народные 
          массы все более превращаются в пролетариев, причем положение их становится 
          тем более бедственным и невыносимым, чем больше увеличиваются богатства 
          буржуа. В-третьих, эти могучие, легко поддающиеся увеличению 
          производительные силы до такой степени переросли частную собственность 
          и буржуа, что они непрерывно вызывают сильнейшие потрясения общественного 
          строя. Поэтому лишь теперь уничтожение частной собственности стало не 
          только возможным, но даже совершенно необходимым.</div><br>

        <div class = "maintext">
          <p class = "headingmaintext"><strong>16-й вопрос: </strong>Возможно ли уничтожение частной собственности мирным путем?<br></p>
          <strong><br>Ответ:</strong> Можно было бы пожелать, чтобы это было так, 
          и коммунисты, конечно, были бы последними, кто стал бы против этого 
          возражать. Коммунисты очень хорошо знают, что всякие заговоры не только 
          бесполезны, но даже вредны. Они очень хорошо знают, что революции нельзя 
          делать предумышленно и по произволу и что революции всегда и везде являлись 
          необходимым следствием обстоятельств, которые совершенно не зависели 
          от воли и руководства отдельных партий и целых классов. Но, вместе с 
          тем, они видят, что развитие пролетариата почти во всех цивилизованных 
          странах насильственно подавляется и что тем самым противники коммунистов 
          изо всех сил работают на революцию. Если все это, в конце концов, толкнет 
          угнетенный пролетариат на революцию, то мы, коммунисты, будем тогда 
          защищать дело пролетариата действием не хуже, чем сейчас словом.</div><br>

        <div class = "maintext">
          <p class = "headingmaintext"><strong>17-й вопрос: </strong>Возможно ли уничтожить частную собственность сразу?<br></p>
          <strong><br>Ответ:</strong> Нет, невозможно, точно так же, как нельзя сразу
          увеличить имеющиеся производительные силы в таких пределах, какие необходимы 
          для создания общественного хозяйства. Поэтому надвигающаяся по всем 
          признакам революция пролетариата сможет только постепенно преобразовать 
          нынешнее общество и только тогда уничтожит частную собственность, когда 
          будет создана необходимая для этого масса средств производства.</div><br>


        <div class = "maintext">
          <p class = "headingmaintext"><strong>18-й вопрос: </strong>Каков будет ход этой революции?<br></p>
          <strong><br>Ответ:</strong> Прежде всего, она создаст демократический 
          строй и тем самым, прямо или косвенно, политическое господство 
          пролетариата. Прямо - в Англии, где пролетарии уже теперь составляют 
          большинство народа, косвенно - во Франции и Германии, где большинство 
          народа состоит не только из пролетариев, но также из мелких крестьян 
          и городских мелких буржуа, которые находятся еще только в стадии перехода 
          в пролетариат, в осуществлении всех своих политических интересов все 
          более зависят от пролетариата и потому вскоре должны будут присоединиться 
          к его требованиям. Для этого, может быть, понадобится еще новая борьба, 
          которая, однако, непременно закончится победой пролетариата <br>
          Демократия была бы совершенно бесполезна для пролетариата, если ею не 
          воспользоваться немедленно, как средством для проведения широких мероприятий, 
          непосредственно посягающих на частную собственность и обеспечивающих 
          существование пролетариата. Главнейшие мероприятия эти, с необходимостью 
          вытекающие из существующих ныне условий, суть следующие: <br>
          1) Ограничение частной собственности: прогрессивный налог, высокий налог 
          на наследства, отмена наследования в боковых линиях (братьев, племянников 
          и т. д.), принудительные займы и т, д. <br>
          2) Постепенная экспроприация земельных собственников, фабрикантов, владельцев 
          железных дорог и судовладельцев, частью посредством конкуренции со стороны 
          государственной промышленности, частью непосредственно путем выкупа 
          ассигнатами. <br>
          3) Конфискация имущества всех эмигрантов и бунтовщиков, 
          восставших против большинства народа. <br>
          4) Организация труда или предоставление занятий пролетариям в национальных 
          имениях, фабриках и мастерских, благодаря чему будет устранена конкуренция 
          рабочих между собой, и фабриканты, поскольку они еще останутся, будут 
          вынуждены платить такую же высокую плату, как и государство. <br>
          5) Одинаковая обязательность труда для всех членов общества до полного 
          уничтожения частной собственности. Образование промышленных армий, в 
          особенности для сельского хозяйства. <br>
          6) Централизация кредитной системы и торговли деньгами в руках государства 
          посредством национального банка с государственным капиталом. Закрытие 
          всяких частных банков и банкирских контор. <br>
          7) Увеличение числа национальных фабрик, мастерских, железных дорог, 
          судов, обработка всех земель, остающихся невозделанными, и улучшение 
          обработки возделанных уже земель соответственно тому, как увеличиваются 
          капиталы и растет число рабочих, которыми располагает нация. <br>
          8) Воспитание всех детей с того момента, как они могут обходиться без 
          материнского ухода, в государственных учреждениях и на государственный 
          счет. Соединение воспитания с фабричным трудом. <br>
          9) Сооружение больших дворцов в национальных владениях, в качестве общих 
          жилищ для коммун, граждан, которые будут заниматься промышленностью, 
          сельским хозяйством и соединять преимущества городского и сельского 
          образа жизни, не страдая от их односторонности и недостатков. <br>
          10) Разрушение всех нездоровых и плохо построенных жилищ и кварталов 
          в городах. <br>
          11) Одинаковое право наследования для брачных и внебрачных детей. <br>
          12) Концентрация всего транспортного дела в руках нации. <br>
          Все эти мероприятия нельзя, разумеется, провести в один прием, но одно 
          из них повлечет за собой другое. Стоит только произвести первую радикальную 
          атаку на частную собственность, и пролетариат будет вынужден идти все 
          дальше, все больше концентрировать в руках государства весь капитал, 
          все сельское хозяйство, всю промышленность, весь транспорт и весь обмен. 
          К этому ведут все перечисленные мероприятия. Осуществимость этих мероприятий 
          и порождаемая ими централизация будут возрастать точно в такой же степени, 
          в какой производительные силы страны будут умножаться трудом пролетариата. 
          Наконец, когда весь капитал, все производство, весь обмен будут сосредоточены 
          в руках нации, тогда частная собственность отпадет сама собой, деньги 
          станут излишними, и производство увеличится в такой степени, а люди 
          настолько изменятся, что смогут отпасть и последние формы отношений 
          старого общества.</div><br>

        <div class = "maintext">
          <p class = "headingmaintext"><strong>19-й вопрос: </strong>Может ли эта революция произойти в одной какой-нибудь стране?<br></p>
          <strong><br>Ответ:</strong> Нет. Крупная промышленность уже тем, что она 
          создала мировой рынок, так связала между собой все народы земного шара, 
          в особенности цивилизованные народы, что каждый из них зависит от того, 
          что происходит у другого. Затем крупная промышленность так уравняла 
          общественное развитие во всех цивилизованных странах, что всюду буржуазия 
          и пролетариат стали двумя решающими классами общества и борьба между 
          ними - главной борьбой нашего времени. Поэтому коммунистическая революция 
          будет не только национальной, но произойдет одновременно во всех цивилизованных 
          странах, т. е., по крайней мере, в Англии, Америке, Франции и Германии. 
          В каждой из этих стран она будет развиваться быстрее или медленнее, 
          в зависимости от того, в какой из этих стран более развита промышленность, 
          больше накоплено богатств и имеется более значительное количество производительных 
          сил. Поэтому она осуществится медленнее и труднее всего в Германии, 
          быстрее и легче всего в Англии. Она окажет также значительное влияние 
          на остальные страны мира и совершенно изменит и чрезвычайно ускорит 
          их прежний ход развития. Она есть всемирная революция и будет поэтому 
          иметь всемирную арену. </div><br>

        <div class = "maintext">
          <p class = "headingmaintext"><strong>20-й вопрос: </strong>Каковы будут последствия окончательного устранения частной собственности?<br></p>
          <strong><br>Ответ:</strong> Тем, что общество изымет из рук частных капиталистов 
          пользование всеми производительными силами и средствами общения, а также 
          обмен и распределение продуктов, тем, что оно будет управлять всем этим 
          сообразно плану, вытекающему из наличных ресурсов и потребностей общества 
          в целом, - будут прежде всего устранены все пагубные последствия, связанные 
          с нынешней системой ведения крупной промышленности. Кризисы прекратятся, 
          расширенное производство, которое при существующем общественном строе 
          вызывает перепроизводство и является столь могущественной причиной нищеты, 
          тогда окажется далеко не достаточным и должно будет принять гораздо 
          более широкие размеры. Избыток производства, превышающий ближайшие потребности 
          общества, вместо того чтобы порождать нищету, будет обеспечивать удовлетворение 
          потребностей всех членов общества, будет вызывать новые потребности 
          и одновременно создавать средства для их удовлетворения. Он явится условием 
          и стимулом для дальнейшего прогресса и будет осуществлять этот прогресс, 
          не приводя при этом, как раньше, к периодическому расстройству всего 
          общественного порядка. Крупная промышленность, освобожденная от оков 
          частной собственности, разовьется в таких размерах, по сравнению с которыми 
          ее нынешнее состояние будет казаться таким же ничтожным, каким нам представляется 
          мануфактура по сравнению с крупной промышленностью нашего времени. Это 
          развитие промышленности даст обществу достаточное количество продуктов, 
          чтобы удовлетворять потребности всех его членов. Точно так же земледелие, 
          для которого, вследствие гнета частной собственности и вследствие дробления 
          участков, затруднено внедрение уже существующих усовершенствований и 
          достижений науки, тоже вступит в совершенно новую полосу расцвета и 
          предоставит в распоряжение общества вполне достаточное количество продуктов. 
          Таким образом, общество будет производить достаточно продуктов для того, 
          чтобы организовать распределение, рассчитанное на удовлетворение потребностей 
          всех своих членов. Тем самым станет излишним деление общества на различные, 
          враждебные друг другу классы. Но оно не только станет излишним, оно 
          будет даже несовместимо с новым общественным строем. Существование классов 
          вызвано разделением труда, а разделение труда в его теперешнем виде 
          совершенно исчезнет, так как, чтобы поднять промышленное и сельскохозяйственное 
          производство на указанную высоту, недостаточно одних только механических 
          и химических вспомогательных средств. Нужно также соответственно развить 
          и способности людей, приводящих в движение эти средства. Подобно тому 
          как в прошлом столетии крестьяне и рабочие мануфактур после вовлечения 
          их в крупную промышленность изменили весь свой жизненный уклад и сами 
          стали совершенно другими людьми, точно так же общее ведение производства 
          силами всего общества и вытекающее отсюда новое развитие этого производства 
          будет нуждаться в совершенно новых людях и создаст их. Общественное 
          ведение производства не может осуществляться такими людьми, какими они 
          являются сейчас, - людьми, из которых каждый подчинен одной какой-нибудь 
          отрасли производства, прикован к ней, эксплуатируется ею, развивает 
          только одну сторону своих способностей за счет всех других 
          и знает только одну отрасль или часть какой-нибудь отрасли 
          всего производства. Уже нынешняя промышленность все меньше оказывается 
          в состоянии применять таких людей. Промышленность же, которая ведется 
          сообща и планомерно всем обществом, тем более предполагает людей со 
          всесторонне развитыми способностями, людей, способных ориентироваться 
          во всей системе производства. Следовательно, разделение труда, подорванное 
          уже в настоящее время машиной, превращающее одного в крестьянина, другого 
          в сапожника, третьего в фабричного рабочего, четвертого в биржевого 
          спекулянта, исчезнет совершенно. Воспитание даст молодым людям возможность 
          быстро осваивать на практике всю систему производства, оно позволит 
          им поочередно переходить от одной отрасли производства к другой, в зависимости 
          от потребностей общества или от их собственных склонностей. Воспитание 
          освободит их, следовательно, от той односторонности, которую современное 
          разделение труда навязывает каждому отдельному человеку. Таким образом, 
          общество, организованное на коммунистических началах, даст возможность 
          своим членам всесторонне применять свои всесторонне развитые способности. 
          Но вместе с тем неизбежно исчезнут и различные классы. Стало быть, с 
          одной стороны, общество, организованное на коммунистических началах, 
          несовместимо с дальнейшим существованием классов, а, с другой стороны, 
          само строительство этого общества дает средства для уничтожения классовых 
          различий. <br>
          Отсюда вытекает, что противоположность между городом и деревней тоже 
          исчезнет. Одни и те же люди будут заниматься земледелием и промышленным 
          трудом, вместо того чтобы предоставлять это делать двум различным классам. 
          Это является необходимым условием коммунистической ассоциации уже в 
          силу весьма материальных причин. Распыленность занимающегося земледелием 
          населения в деревнях, наряду со скоплением промышленного населения в 
          больших городах, соответствует только недостаточно еще высокому уровню 
          развития земледелия и промышленности и является препятствием для всякого 
          дальнейшего развития, что уже в настоящее время дает себя сильно чувствовать. 
          <br>
          Всеобщая ассоциация всех членов общества в целях совместной и планомерной 
          эксплуатации производительных сил; развитие производства в такой степени, 
          чтобы оно удовлетворяло потребности всех; ликвидация такого положения, 
          когда потребности одних людей удовлетворяются за счет других; полное 
          уничтожение классов и противоположностей между ними; всестороннее развитие 
          способностей всех членов общества путем устранения прежнего разделения 
          труда, путем производственного воспитания, смены родов деятельности, 
          участия всех в пользовании благами, которые производятся всеми же, и, 
          наконец, путем слияния города с деревней -- вот главнейшие результаты 
          ликвидации частной собственности. </div><br>

        <div class = "maintext">
          <p class = "headingmaintext"><strong>21-й вопрос: </strong>Какое влияние окажет коммунистический общественный строй на семью?<br></p>
          <strong><br>Ответ:</strong> Отношения полов станут исключительно частным 
          делом, которое будет касаться только заинтересованных лиц и в которое 
          обществу нет нужды вмешиваться. Это возможно благодаря устранению частной 
          собственности и общественному воспитанию детей, вследствие чего уничтожаются 
          обе основы современного брака, связанные с частной собственностью,- 
          зависимость жены от мужа и детей от родителей. В этом и заключается 
          ответ на вопли высоконравственных мещан по поводу коммунистической общности 
          жен. Общность жен представляет собою явление, целиком принадлежащее 
          буржуазному обществу и в полном объеме существующее в настоящее время 
          в виде проституции. Но проституция основана на частной собственности 
          и исчезнет вместе с ней. Следовательно, коммунистическая организация 
          вместо того, чтобы вводить общность жен, наоборот, уничтожит ее.</div><br>

        <div class = "maintext">
          <p class = "headingmaintext"><strong>22-й вопрос: </strong>Как будет относиться коммунистическая организация к существующим национальностям?<br></p>
          <strong><br>Ответ:</strong> Национальные черты народов, объединяющихся на 
          основе принципа общности, именно в результате этого объединения неизбежно 
          будут смешиваться и таким образом исчезнут точно так же, как отпадут 
          всевозможные сословные и классовые различия вследствие уничтожения их 
          основы - частной собственности.</div><br>

        <div class = "maintext">
          <p class = "headingmaintext"><strong>23-й вопрос: </strong>Как будет она относиться к существующим религиям?<br></p>
          <strong><br>Ответ:</strong> Все существовавшие до сих пор религии являлись 
          выражением исторических ступеней развития отдельных народов или народных 
          масс. Коммунизм же является той ступенью исторического развития, которая 
          делает излишними и снимает все существующие религии.</div><br>

        <div class = "maintext">
          <p class = "headingmaintext"><strong>24-й вопрос: </strong>Чем отличаются коммунисты от социалистов?<br></p>
          <strong><br>Ответ:</strong> Так называемые социалисты делятся на три категории. <br>
          Первая категория состоит из сторонников феодального и патриархального 
          общества, которое уничтожалось и уничтожается с каждым днем крупной 
          промышленностью, мировой торговлей и созданным ими буржуазным обществом. 
          Эта категория из бедствий современного общества делает вывод о том, 
          что следует восстановить феодальное и патриархальное общество, так как 
          оно было свободно от этих бедствий. Все ее предложения, прямыми или 
          обходными путями, направлены к этой цели. Коммунисты всегда будут решительно 
          бороться с этой категорией реакционных социалистов, несмотря 
          на ее мнимое сочувствие нищете пролетариата и на проливаемые по этому 
          поводу горючие слезы. Ибо эти социалисты: <br>
          1) стремятся к чему-то совершенно невозможному; <br>
          2) пытаются восстановить господство аристократии, цеховых мастеров и 
          владельцев мануфактур, с их свитой абсолютных или феодальных монархов, 
          чиновников, солдат и попов; они хотят восстановить общество, которое, 
          правда, было бы свободно от пороков современного общества, но зато принесло 
          бы с собой, по меньшей мере, столько же других бедствий, а к тому же 
          не открывало бы никаких перспектив к освобождению угнетенных рабочих 
          посредством коммунистической организации; <br>
          3) свои подлинные намерения они всегда обнаруживают, когда пролетариат становится революционным 
          и коммунистическим. В этих случаях они немедленно объединяются с буржуазией 
          против пролетариев. <br>
          Вторая категория состоит из сторонников нынешнего общества, которых 
          неизбежно порождаемые этим обществом бедствия заставляют опасаться за 
          его существование. Они стремятся, следовательно, сохранить нынешнее 
          общество, но устранить связанные с ним бедствия. Для этого одни предлагают 
          меры простой благотворительности, другие - грандиозные планы реформ, 
          которые, под предлогом реорганизации общества, имеют целью сохранить 
          устои нынешнего общества и тем самым само нынешнее общество. Против 
          этих буржуазных социалистов коммунисты тоже должны будут вести 
          неустанную борьбу, потому что их деятельность идет на пользу врагам 
          коммунистов и они защищают тот общественный строй, который коммунисты 
          хотят разрушить. <br>
          Наконец, третья категория состоит из демократических социалистов. Идя 
          по пути с коммунистами, они хотят осуществления части мероприятий, указанных 
          в ... вопросе , но не в качестве переходных мер, ведущих к коммунизму, 
          а в качестве мероприятий, достаточных для уничтожения нищеты и устранения 
          бедствий нынешнего общества. Эти демократические социалисты 
          являются либо пролетариями, которые еще недостаточно уяснили себе условия 
          освобождения своего класса, либо представителями мелкой буржуазии, т. 
          е. класса, который вплоть до завоевания демократии и осуществления вытекающих 
          из нее социалистических мероприятий во многих отношениях имеет те же 
          интересы, что и пролетарии. Поэтому, коммунисты в моменты действий будут 
          заключать соглашения с демократическими социалистами и вообще на это 
          время должны придерживаться по возможности общей с ними политики, если 
          только эти социалисты не пойдут в услужение к господствующей буржуазии 
          и не станут нападать на коммунистов. Разумеется, совместные действия 
          не исключают обсуждения тех разногласий, которые существуют между ними 
          и коммунистами. </div><br>

        <div class = "maintext">
          <p class = "headingmaintext"><strong>25-й вопрос: </strong>Как относятся коммунисты к остальным политическим партиям нашего времени?<br></p>
          <strong><br>Ответ:</strong> Отношение это различно в разных странах.- В 
          Англии, Франции и Бельгии, где господствует буржуазия, коммунисты пока 
          еще имеют общие интересы с различными демократическими партиями, причем 
          эта общность интересов тем значительнее, чем больше демократы приближаются 
          к целям коммунистов в тех социалистических мероприятиях, которые демократы 
          повсюду теперь отстаивают, т. е. чем яснее и определеннее они отстаивают 
          интересы пролетариата и чем больше они опираются на пролетариат. В Англии, 
          например, чартисты, состоящие из рабочих, неизмеримо ближе к коммунистам, 
          чем демократические мелкие буржуа или так называемые радикалы. <br>
          В Америке, где введена демократическая конституция, коммунисты 
          должны будут поддерживать партию, которая хочет обратить эту конституцию 
          против буржуазии и использовать ее в интересах пролетариата, т. е. партию 
          сторонников национальной аграрной реформы. <br>
          В Швейцарии радикалы, хотя и представляют еще собой партию 
          с очень смешанным составом, являются, однако, единственными, с которыми 
          коммунисты могут вступать в соглашение, а среди этих радикалов опять-таки 
          наиболее прогрессивными являются ваадтские и женевские. <br>
          Наконец, в Германии решительная борьба между буржуазией и абсолютной 
          монархией еще впереди. Но так как коммунисты не могут рассчитывать, 
          что им придется вступить в решающий бой с буржуазией прежде, чем буржуазия 
          достигнет господства, то в интересах коммунистов помочь буржуазии возможно 
          скорее достичь господства, чтобы затем как можно скорее в свою очередь 
          свергнуть ее. Таким образом, в борьбе либеральной буржуазии с правительствами 
          коммунисты должны быть всегда на стороне первой, остерегаясь, однако, 
          того самообмана, в который впадает буржуазия, и не доверяя ее соблазнительным 
          заверениям о тех благодетельных последствиях, которые якобы повлечет 
          за собой для пролетариата победа буржуазии. Единственные преимущества 
          от победы буржуазии для коммунистов будут заключаться: <br>1) в разного 
          рода уступках, которые облегчат коммунистам защиту, обсуждение и распространение 
          своих принципов и тем самым облегчат объединение пролетариата в тесно 
          сплоченный, готовый к борьбе и организованный класс<br>2) в уверенности, 
          что с того дня, как падут абсолютистские правительства, наступит черед 
          для борьбы между буржуа и пролетариями. С этого дня партийная политика 
          коммунистов будет здесь такой же, как и в странах, где буржуазия уже 
          господствует. </div><br>
</body>
</html>