<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/main_styles.css">
        </head>
<body>
    <div class="navbar">
        <a href="index.html">Главная</a>
      <div class="dropdown">
        <button class="dropbtn"> Книги 
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="karl_marks.html">Карл Маркс</a>
          <a href="fridrih_engels.html">Фридрих Энгельс</a>
          <a href="ilych_lenin.html">Ильич Ленин</a>
        </div>
      </div> 
        <a style = "float: right" href="#" class="right">Войти</a>
    </div>
    {% block title %}Владимир Ильич Ленин{% endblock %}
    <div class = "maintext"><img src="image/lenin.jpg" class="leftimg">
      Марксист, создатель Третьего интернационала, 
      Ленин сыграл ведущую роль в большевистской революции 1917 года, 
      которая свергла Российскую империю и основала Советский Союз.<br><br>
      В СССР было издано пять собраний сочинений Ленина:<br>
      1) в 20 томах, издавалось в 1920—1927 годах;<br>
      2) в 30 томах, издавалось в 1925—1934 годах;<br>
      3) в 30 томах, издавалось в 1925—1935 годах;<br>
      4) в 35 томах, издавалось в 1941—1967 годах;<br>
      5) в 55 томах, издавалось в 1958—1966 годах.
    </div>
    <h1 class="works">Основные сочинения</h1>
    <ul class="list2b">
      <li><a href="book_where_to_begin.html">"Что делать?"</a></li>
    </ul>
</body>
</html>