{% extends 'main/index.html' %}
{% load static %}
  {% block img %}{% endblock %}
    {% block title %}Владимир Ильич Ленин{% endblock %}
    {% block content %}
    <div class = "maintext"><img src="{% static 'main/img/lenin.jpg' %}" class="leftimg">
      Марксист, создатель Третьего интернационала, 
      Ленин сыграл ведущую роль в большевистской революции 1917 года, 
      которая свергла Российскую империю и основала Советский Союз.<br><br>
      В СССР было издано пять собраний сочинений Ленина:<br>
      1) в 20 томах, издавалось в 1920—1927 годах;<br>
      2) в 30 томах, издавалось в 1925—1934 годах;<br>
      3) в 30 томах, издавалось в 1925—1935 годах;<br>
      4) в 35 томах, издавалось в 1941—1967 годах;<br>
      5) в 55 томах, издавалось в 1958—1966 годах.
    </div>
    <h1 class="works">Основные сочинения</h1>
    <ul class="list2b">
      <li><a href="{%url 'books_ily_l'%}">"Что делать?"</a></li>
    </ul>
    {% endblock content %}