{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'main/css/main_styles.css' %}">
    </head>
</head>
<body>
{% block img %}<img src = "projectmirea\proektmirea\main\static\main\img\main_photo.jpg' %}" width="100%" height = "300">{% endblock %}
<div class="navbar">
  
    <a href="{% url 'home' %}">Главная</a>
  <div class="dropdown">
    <button class="dropbtn"> Книги 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="{% url 'k_mar' %}">Карл Маркс</a>
      <a href="{% url 'f_eng' %}">Фридрих Энгельс</a>
      <a href="{% url 'i_len' %}">Ильич Ленин</a>
    </div>
  </div> 
    <a style = "float: right" href="#" class="right">Войти</a> 
</div>
<h1 class="line">{% block title %}Главная{% endblock %}</h1>
{% block content %}
<div class = 'splitt'>
  <img src="image/14_original.jpeg">
  <img src = "image/quote.jpeg">
</div>

<h1 class = "line">Что такое коммунизм и с чем его едят?</h1>

<div class = "maintext">
  Коммунизм - общественно-экономическая формация
теоретический общественный и экономический бесклассовый строй, 
основанный на общественной собственности на средства производства, 
чем обеспечивается социальное равенство. <br><br>
Основателем идеологии коммунизма считается Карл Маркс
- философ и экономист XIX века.<br>
Его идея основана на убеждении, 
что отмена частной собственности и переход к общей собственности положат конец несчастьям человечества - 
устронят все общественные проблемы,
всевозможную несправедливость, угнетение и неравенство.</div>
{% endblock %}
<footer>
  <p>Создано командой Gref</p>
</footer>

</body>
</html>