{% extends 'main/index.html' %}
  {% block img %}{% endblock %}
    {% block title %}Карл Генрих Маркс{% endblock %}
    {% block content %}
    {% load static %}
    <div class = "maintext"><img src="{% static 'main/img/marks.png' %}" class="leftimg">
      Немецкий философ, экономист, политический журналист, историк.<br>
      Маркс доказывал, что человеческое общество на каждом из этапов 
      развивается в результате классовой борьбы, 
      вызванной противоречиями в интересах различных общественных классов. 
      Он является одной из самых влиятельных фигур в истории человечества.<br><br>
      Наиболее известными его трудами являются «Манифест Коммунистической партии» 
      (1848 год в соавторстве с Фридрихом Энгельсом) и «Капитал. Критика политической экономии»
    </div>
    <h1 class="works">Основные сочинения</h1>
    <ul class="list2b">
      <li><a href="{%url 'books_kar_m'%}">"Принципы коммунизма"</a></li>
    </ul>
{% endblock %}